	                            
																																																																										                                       <ion-header>
<ion-toolbar>
								                                                                          <ion-buttons slot="start">
																		                                                                                            <ion-button (click)="cancel()">Cancel</ion-button>
																													                                                                                                 </ion-buttons>
																																									                                                                                              <ion-title>Ajouter des titre pour cet album</ion-title>
																																																				                                                                                                   <ion-buttons slot="end">

																																																																	                 <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>

																																																																			                         </ion-buttons>

																																																																						                                 </ion-toolbar>

																																																																										                                       </ion-header>

																																																																														                                                   <ion-content class="ion-padding">

    <ion-toolbar>
      <ion-title size="large">ajouter mes titres</ion-title>
    </ion-toolbar>
    <ion-item>
    <ion-searchbar placeholder="Filtrer des titres à ajouter dans cet album"></ion-searchbar>
    </ion-item>

</ion-content>
