ion-fab {
		right: 0;
			height: 100%;
				width: 50px;
					background: blue;
						border-radius: 33333333333px;
							text-align: center;
								vertical-align: middle;
									display: table-cell;
										line-height: 50px;
											font-size: 29px;
										}
