	                            
																																																																										                                       <ion-header>
<ion-toolbar>
								                                                                          <ion-buttons slot="start">
																		                                                                                            <ion-button (click)="cancel()">Cancel</ion-button>
																													                                                                                                 </ion-buttons>
																																									                                                                                              <ion-title>Ajouter des titre pour cet album</ion-title>
																																																				                                                                                                   <ion-buttons slot="end">

																																																																	                 <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>

																																																																			                         </ion-buttons>

																																																																						                                 </ion-toolbar>

																																																																										                                       </ion-header>

																																																																														                                                   <ion-content class="ion-padding">

    <ion-toolbar>
      <ion-title size="large">ajouter mes titres</ion-title>
    </ion-toolbar>
	       <ion-list [inset]="true">
		           <ion-item [button]="true" [detail]="false" id="select-fruits">
				         <ion-label>Titres que vous avez choisis</ion-label>
					       <div slot="end" id="selected-fruits">{{ selectedFruitsText }}</div>
					           </ion-item>
							         </ion-list>

	      <ion-modal trigger="select-fruits" #modalfruit>
		        <ng-template>
				    <app-typeahead
						          class="ion-page"
							        title="Favorite Fruits"
								      [items]="Titles"
								      [selectedItems]="Mestitres"
								      (selectionChange)="fruitSelectionChanged($event)"
								      (selectionCancel)="modalfruit.dismiss()"
								    ></app-typeahead>
				      </ng-template>
	      </ion-modal>

</ion-content>
