<ion-header>
	  <ion-toolbar>
		      <ion-title>
			            Edit Album
				        </ion-title>
					  </ion-toolbar>
</ion-header>
<ion-content>
	  <ion-list lines="full">
		      <form [formGroup]="updateAlbumForm" (ngSubmit)="updateForm()">
			            <ion-item>
					            <ion-label position="floating">Name</ion-label>
						            <ion-input formControlName="name" type="text" required></ion-input>
							          </ion-item>
								  <ion-list [inset]="true">

									                                                                                                             <ion-item [button]="true" [detail]="false" id="select-fruits1">

																							                                                                                                                                                                 <ion-label>Titres que vous avez choisis</ion-label>


																																											              <div slot="end" id="selected-fruits1">{{ selectedFruitsText }}</div>


																																												                                                                      </ion-item>
																																																															                   <ion-modal trigger="select-fruits1" #modalfruit1>
																																																																		                           <ng-template>
																																																																						                                       <app-typeahead1
																																																																											                                                                 class="ion-page"
																																																																																			                                                                 title="Favorite Fruits"
																																																																																											                                                                       [items]="Titles"
																																																																																																			                                                                             [selectedItems]="Mestitres"
																																																																																																												                                                                           (selectionChange)="fruitSelectionChanged($event)"
																																																																																																																					                                                                         (selectionCancel)="modalfruit1.dismiss()"
																																																																																																																														                                                                     ></app-typeahead1>
																																																																										                                             </ng-template>
																																																																															                   </ion-modal>


																																																				                                                                                                                                       </ion-list>
																					        <ion-row>
																							        <ion-col>
																									          <ion-button type="submit" color="primary" shape="full" expand="block">Update Album</ion-button>
																										          </ion-col>
																											        </ion-row>
																												    </form>
																												      </ion-list>
</ion-content>
