.selector-modal-artist {
	                                                    &.bottom {
								                                                                        align-items: flex-end;
																	                                                                        }

																										                                                                            --height: auto;

																																			                                                                                    app-modal-example.ion-page {
																																														                                                                                            z-index:444;
																																																									                                                                                                    position: relative;
																																																																					                                                                                                            display: block;
																																																																																		                                                                                                                    contain: content;

																																																																																																                                                                                                                            .inner-content {
																																																																																																																                                                                                                                                                max-height: 80vh;

																																																																																																																																		      overflow: auto;

																																																																																																																																		                        padding: 10px;

																																																																																																																																					                          }

																																																																																																																																								                                }

																																																																																																																																												                      }
