<ion-header [translucent]="true">
  <ion-toolbar>
			        <ion-buttons slot="start">
					          <ion-back-button>


						  </ion-back-button>
						   <button ion-button clear (click)="back()">


							  <ion-icon name="chevron-back-outline">

							  </ion-icon>


									                       </button>
						          </ion-buttons>
    <ion-title>voir-album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
	    <ion-title size="large">{{monalbum.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
		  src="https://firebasestorage.googleapis.com/v0/b/album-cfe29.appspot.com/o/filesStorage%2F{{monalbum.filename}}?alt=media"
	    alt="image {{monalbum.name}}"
	      ></ion-img>
  <ion-list>
	    <ion-item *ngFor="let titre of monalbumadestitres">
		    <ion-label>

			    {{titre.artist}} - 
			    {{titre.title}}
		        </ion-label>
			 <button ion-button clear (click)="playVideo(titre.filename)">


				                                                 <ion-icon name="play" style="zoom:2.0"></ion-icon>


										                                                         </button>
			 <button ion-button clear (click)="deleteTitle(titre.$key)">


				                                                 <ion-icon name="trash" style="zoom:2.0"></ion-icon>


										                                                         </button>
	    </ion-item>
  </ion-list>
  <ion-item id="Item1">
  </ion-item>
</ion-content>
<figure id="musicContainer" #musicContainer data-fullscreen="false">
	                                            <audio  id="heythere" preload="metadata" poster="img/poster.jpg" src="https://firebasestorage.googleapis.com/v0/b/accompa-u.appspot.com/o/filesStorage%2F1710935918454_Te%20amare%20%20%20Miguel%20Bose%20y%20Laura%20Pausini.mp4?alt=media" (mute)="mute()" (ended)="ended()" (pause)="pause()" (play)="play()" (volumechange)="checkVolume()"  autoplay="autoplay"  autoplay playsinline style="pointer-events: none;display:{{!videopaused && !videoended ? 'block' : 'none'}};" (loadedmetadata)="loaded()" (timeupdate)="playing()">
							                                                            </audio>
														    <div id="video-controls" class="controls" attr.data-state="{{dataState}}">
															                                                        <button id="playpause" type="button" attr.data-state="{{dataStatePlay}}" (click)="playpause()">Play/Pause</button>
																						                                                                                                    <button id="stop" type="button" attr.data-state="stop" (click)="stop()">Stop</button>
																																		                                                                                                                                                          <div class="progress">

																																																						                            <progress id="progress" value="{{progressValue}}" min="0" max="{{maxProgress}}" (click)="myprogress($event)">

																																																										                                                                                                                  <span id="progress-bar"></span>


																																																									    </progress>


																																																									                                                                                      </div>


																																																																			                                                                                                                                                                          <button id="mute" type="button" attr.data-state="{{dataStateMute}}" (click)="muteOk()">Mute/Unmute</button>



																																																																																								                                                                                                                                                                        <button id="volinc" type="button" attr.data-state="volup" (click)="volinc()">Vol+</button>



																																																																																																													                                                                                                                                                                          <button id="voldec" type="button" attr.data-state="voldown" (click)="voldown()">Vol-</button>



																																																																																																																																		                                                                                                                                                                                  <button id="fs" type="button" attr.data-state="go-fullscreen">Fullscreen</button>



																																																																																																																																																								                        </div>
																																																																																																																																																																																		                                                                                            </figure>
